# Default python version and virtualenv (basename of the root project directory)
[ -f ".ruby-version" ]    && rubiversion=$(head .ruby-version) || rubiversion=2.6.3
export RBENV_VERSION=${rubiversion}
rvm use ${rubiversion}
layout ruby
PATH_add .direnv/bundler-bin
