# Default python version and virtualenv (basename of the root project directory)
[ -f ".ruby-version" ]    && rubiversion=$(head .ruby-version) || rubiversion=2.6.3
export RBENV_VERSION=${rubiversion}
rvm use ${rubiversion}
layout ruby
PATH_add .direnv/bundler-bin

[ -f ".python-version" ]    && pyversion=$(head .python-version) || pyversion=3.7.4
[ -f ".python-virtualenv" ] && pvenv=$(head  .python-virtualenv) || pvenv=$(basename $PWD)
export python_version=${pyversion}
use python ${pyversion}
PIP_VERSION=${pyversion}
layout virtualenv ${pyversion} ${pvenv}-${pyversion}
layout activate ${pvenv}-${pyversion}
