# Default python version and virtualenv (basename of the root project directory)
[ -f ".ruby-version" ]    && rubiversion=$(head .ruby-version) || rubiversion=2.7.4
export RBENV_VERSION=${rubiversion}
use ruby ${rubiversion}
export PATH="$USER INSTALLATION DIRECTORY/bin:$PATH:$PATH"