# Dynamicly filled by yarn and grunt tasks
/webserver/build/**/*
/webserver/dev/**/*
/webserver/node_modules
/webserver/yarn-error.log
# Mac DS_Store files
**/.DS_Store
# Ide stuff
.theia 
.idea
# Just a crapfolder
__crap
/.jekyll-cache
/source
/.bundle
/.direnv
/.env
/destination
/_site
